.app{

}
.bold {
    font-weight: bold;
}
.left{
    width: 250px;
    height: 100%;
    float: left;
    background-color: gray;
}
.right{
    height: 100%;
    margin-left: 250px;
    background-color: rebeccapurple;

}